<section class="content-wrap full youplay-login">
    <div class="youplay-banner banner-top">
        <div class="image" style="background-image: url('/images/civ6-bg.jpg')"></div>

        <div class="info">
            <div>
                <div class="container align-center">
                    <div class="youplay-form">
                        <h1>Register</h1>
                        <form action="/user/register" method="POST">
                            <div class="youplay-input">
                                <input type="text" name="email" placeholder="Email">
                            </div>
                            <div class="youplay-input">
                                <input type="password" name="password" placeholder="Password">
                            </div>
                            <div class="youplay-input">
                                <input type="password" name="secret" placeholder="Secret">
                            </div>
                            <button class="btn btn-default db">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>