<section class="content-wrap">
    <section class="youplay-banner youplay-banner-parallax banner-top xxsmall">
        <div class="image" style="background-image: url('/images/civ6-bg.jpg')">
        </div>

        <div class="info">
            <div>
                <div class="container"></div>
            </div>
        </div>
    </section>

    <div class="container youplay-news">

        <!-- Cities List -->
        <div class="col-md-9">
            <div class="news-one">
                <div class="row vertical-gutter">
                    <div class="col-md-4">
                        <a href="#" class="angled-img">
                            <div class="img">
                                <img src="/images/civ6-bg.jpg" alt="">
                            </div>
                            <div class="youplay-hexagon-rating youplay-hexagon-rating-small youplay-hexagon-rating-ready" data-max="10" data-size="50" title="9.1 out of 10" style="width: 50px; height: 50px;"><canvas width="50" height="50"></canvas><span>10</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="clearfix">
                            <h3 class="h2 pull-left m-0"><a href="#">[4] Beijing</a></h3>
                            <span class="date pull-right">
                                <i class="fa fa-calendar"></i> 5 turns to growth<br/>
                            </span>
                        </div>
                        <div class="tags">
                            <i class="fa fa-tags"></i>  <a href="#">3 culture</a>, <a href="#">4 food</a>, <a href="#">2 faith</a>, <a href="#">5 gold</a>
                            <span class="date pull-right">
                                <a href="#">Woods</a>, <a href="#">Plains</a>, <a href="#">Grasslands</a>
                            </span>
                        </div>
                        <div class="description">
                            <p>
                                Production: <a href="#">Archer</a>
                            </p>
                            <p>
                                Districts: <a href="#">Holy Site</a>, <a href="#">Aqueduct</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Cities List -->

        <!-- Right Side -->
        <div class="col-md-3">
            <!-- Research -->
            <div class="side-block">
                <h4 class="block-title">Research</h4>
                <ul class="block-content">
                    <li><a href="#">Pottery</a> 10 turns</li>
                </ul>
            </div>
            <!-- /Research -->

            <div class="side-block">
                <h4 class="block-title">Game News</h4>
                <div class="block-content p-0">

                    <!-- Single News Block -->
                    <div class="row youplay-side-news">
                        <div class="col-xs-3 col-md-4">
                            <a href="#" class="angled-img">
                                <div class="img">
                                    <!--<img src="assets/images/game-bloodborne-500x375.jpg" alt="">-->
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-9 col-md-8">
                            <h4 class="ellipsis"><a href="#">Archer was killed</a></h4>
                            <span class="date"><i class="fa fa-calendar"></i> 1 turn ago</span>
                        </div>
                    </div>
                    <!-- /Single News Block -->
                </div>
            </div>

        </div>
        <!-- /Right Side -->

    </div>

</section>