<section class="content-wrap">

    <!-- Banner -->
    <section class="youplay-banner youplay-banner-parallax banner-top xsmall">
        <div class="image" style="background-image: url('/images/civ6-bg.jpg')">
        </div>

        <div class="info">
            <div>
                <div class="container">
                    <h1>Game</h1>
                    <em>{{state}}</em>
                </div>
            </div>
        </div>
    </section>
    <!-- /Banner -->

    <div class="container youplay-search">
        <div class="row">
            <div class="col-md-6">
                <h2>Available Civs</h2>

                <a href="#" class="angled-bg">
                    <div class="row">
                        <div class="col-md-3 col-xs-4">
                            <div class="angled-img">
                                <div class="img">
                                    <img src="/images/civ6-small.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9 col-xs-8">
                            <div class="row">
                                <div class="col-xs-6 col-md-3">
                                    <h4>China</h4>
                                    <div class="rating">
                                        Qin Shi Huang
                                    </div>
                                </div>
                                <div class="col-xs-6 col-md-9 align-right">
                                    <div class="date">
                                        Allows builder to be used one extra time.<br/><br/>
                                        <i class="fa fa-tags"></i>  Crouching Tiger Cannon, The Great Wall, Dynastic Cycles.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <h2>Players</h2>
                <a href="#" class="angled-bg">
                    <div class="row">
                        <div class="col-md-3 col-xs-4">
                            <div class="angled-img">
                                <div class="img">
                                    <img src="/images/civ6-small.jpg" alt="">
                                    <div class="badge show-half bg-default">Ready</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9 col-xs-8">
                            <div class="row">
                                <div class="col-xs-6 col-md-9">
                                    <h4>Japan</h4>
                                    <div class="tags">
                                        bernhard@zwc.se
                                    </div>
                                </div>
                                <div class="col-xs-6 col-md-3 align-right">
                                    <div class="date">
                                        5 seconds ago
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>