<a class="youplay-single-match" href="/game/join/{{data.id}}">
    <div class="pull-left">
        <h5 class="text-center">ZwC</h5>
        <h5 class="text-center">China</h5>
    </div>
    <div class="pull-left ml-30">
        <h5 class="text-center">H4XXOR</h5>
        <h5 class="text-center">America</h5>
    </div>
    <div class="pull-left ml-30">
        <h3 class="youplay-match-title">Standard Map</h3>
        <div class="date">Last turn: {{data.createdAt}}</div>
    </div>
    <div class="label youplay-match-count">{{data.state}}</div>
    <div class="clearfix"></div>
</a>